/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Ensure the background is fixed during scrolling */
    margin: 0;
    padding: 0;
    color: #333;
}

/* Centering the verification icon with the text */
h1 {
    position: relative; /* Added to position the verification icon relative to the text */
    display: inline-block; /* Ensures the h1 element only takes the width of its content */
    color: white;
}

.verification-icon {
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    position: absolute; /* Positioned relative to the h1 element */
    top: 50%; /* Vertically center the icon */
    transform: translateY(-50%) translateX(5%); /* Center the icon vertically and position it horizontally after the text */
}

/* Applying blur effect to the background only */
.body-background {
    position: fixed;
    top: -10vw; /* Extend beyond the viewport */
    left: -10vw; /* Extend beyond the viewport */
    right: -10vw; /* Extend beyond the viewport */
    bottom: -10vw; /* Extend beyond the viewport */
    width: 120vw; /* Increase width */
    height: 120vh; /* Increase height */
    background-image: inherit; /* Use the same background as the body */
    filter: blur(15px); /* Blur effect */
    z-index: -1; /* Keep it behind all other content */
}

/* Container, header, and footer styling */
.container, header, footer {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: none; /* Removes shadows */
    background-color: transparent; /* Ensures no background color interferes */
}

header, footer {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: transparent; /* Fully transparent background */
}

/* Profile image styling */
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* Link button specific styles */
.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    max-width: 580px;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    transition: transform 0.3s ease;
    position: relative;
	left: -20px;
}

.link-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.link-button .icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px; /* Position from the left edge of the button */
    top: 50%; /* Centering vertically */
    transform: translateY(-50%);
}
